# Node modules
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Build / dist
dist/
build/

# Coverage
coverage/

# Optional MongoDB files (local)
data/
*.db

# Nodemon temp
nodemon.json

# Mac system files
._*

# Windows system files
Desktop.ini